
# .NET
Backend/bin/
Backend/obj/
Backend/*.user
Backend/*.suo
Backend/.vs/
*.dll
*.pdb

# React
# Dependencies
node_modules/

# Production builds
build/

# Environment variables
.env.local
.env

# General
.DS_Store
*.log
.vscode/