
# .NET
Backend/bin/
Backend/obj/
Backend/*.user
Backend/*.suo
Backend/.vs/
*.dll
*.pdb

# React
Frontend/node_modules/
Frontend/build/
Frontend/.env.local
Frontend/.env

# General
.DS_Store
*.log
.vscode/