
# .NET
Backend/bin/
Backend/obj/
Backend/*.user
Backend/*.suo
Backend/.vs/
*.dll
*.pdb

# React
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env

# General
.DS_Store
*.log
.vscode/